# Created by venv; see https://docs.python.org/3/library/venv.html
# Python - Archivos compilados y caché
__pycache__/
*.py[cod]
*$py.class

# Base de datos (SQLite)
db.sqlite3

# Archivos multimedia subidos por usuarios
media/

# Entornos virtuales (Opcional pero muy recomendado)
venv/
env/
.env

# Carpetas de IDEs
.vscode/
.idea/

# Archivos de sistema macOS
.DS_Store
